name: Invoke Sweepers

on:
  schedule:
    - cron: "30 12 * * *"

jobs:
  sweep:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.15
        uses: actions/setup-go@v2
        with:
          go-version: ^1.15
        id: go

      - name: Setup Go cache
        uses: actions/cache@v2.1.7
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Check out code
        uses: actions/checkout@v3

      - name: Run Sweepers
        env:
          SLACK_TOKEN: ${{ secrets.SLACK_TOKEN }}
        run: make sweep
